MULTICA_API_BASE_URL=http://127.0.0.1:8080
MULTICA_APP_BASE_URL=http://127.0.0.1:3000
MULTICA_WORKSPACE_SLUG=daily-plan
MULTICA_WORKSPACE_ID=
MULTICA_BEARER_TOKEN=
MULTICA_CREATE_TASK_ENDPOINT_URL=http://127.0.0.1:8080/api/issues
MULTICA_ADD_COMMENT_ENDPOINT_TEMPLATE=http://127.0.0.1:8080/api/issues/{issueId}/comments
